{{!-- Logo & Navigation Container --}}
<header id="pinContainer">
    <nav class="navbar sticky-top navbar-light">
        <div class="d-flex justify-content-start">
            <a class="navbar-brand" href="/members"><img src="../assets/images/logo_codePin.svg" /></a>
        </div>

        <div class="d-flex justify-content-end">
            <div class="p-2">
                <span class="navHide"><p class="pt-1 pb-1"><i class="fas fa-user-circle fa-lg"></i><span class="pl-2 member-name"></span></p></span>
                <span class="navShow"><p><i class="fas fa-user-circle fa-lg"></i></p></span>
            </div>
            <div class="p-2">
                <span class="navHide"><p class="pt-1 pb-1"><a href="logout"><i class="fas fa-power-off fa-lg"></i><span class="pl-2">Logout</span></a></p></span>
                <span class="navShow"><p><a href="logout"><i class="fas fa-power-off fa-lg"></i></a></p></span>
            </div>
        </div>
    </nav>
</header>
{{!-- End header/navigation --}}