<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Code Pin</title>
		
		<!-- Reseting CSS -->
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />

		<!-- Bootstrap CSS Library -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	</head>
	<body>
		{{{ body }}}

	<script="/assets/js/code.js"></script>
	</body>
</html>
