<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>CodePin</title>
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}

	<script="/assets/js/code.js"></script>
	</body>
</html>
