

{{!-- Inserting of the header --}}
	{{> header }}
{{!-- End of the header insert --}}


		
		  	<div class="container">
		    			<h1 class="display-4" id="aboutP">About CodePin</h1>
						  	<h2 class="alert-heading" id="heading">Welcome to CodePin! A note pad for your code.</h2><br><br>
							<h1 class="para">Want a place to go to to put a block of code to reference for later?</h1><br>
						<h3 id="hthree">Well look no further!</h3>
					<hr>
				<div class="row">
					<div col-sm-4>
						<img src="../assets/images/Screenshot.png.png" width="300px" height="300" id="image">
					</div>
					<div class="row">
					<div col-sm-4>
					
						<i class="material-icons" id="arrow">&#xe5d9;</i>
						
					</div>
					<div class="row">
					<div col-sm-4>
					<h2 id="codePlace"> Simpy place your code here and </h2>
					</div>
			</div>	
				
				 
				
			
		
                
                           
                      
						
 		
	
   
		
 