{{!-- Inserting of the header --}}
	{{> header }}
{{!-- End of the header insert --}}

   <div class="col-md-auto">
     <h1 id="aboutP">About CodePin</h1>
    </div>
    <div class="col col-lg-12">
 
	<div class="alert alert-success" role="alert">
	  <h4 class="alert-heading">Welcome to CodePin!</h4>
	  <h2 class="note">A note pad for your code.</h2>
		<p class="para">Want a place to go to to put a block of code to reference for later?<br>
			<b>Well look no further!</b>
		</p>
		<hr>
	
	</div>
 