<div class = "container">
    <!-- Logo & Navigation Container -->
    <div class="row justify-content-center">
        <div class="col-5">
            <div id="logo">
                <img src="../assets/images/logo_codePin.png" />
            </div>
        </div>
        <div class="col-5">
            <p>Add pin</p> | <p>Logout</p>
        </div>
    </div>
</div>
<div class="container">
    <!-- Panel Container for Pins -->
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
                <!-- Panel/Card for one pin -->
                <div class="col-2">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/members.js"></script>