<div class="container">
    <!-- Logo & Navigation Container -->
    <div class="row justify-content-center">
        <div class="col-5">
            <div id="logo">
                <img src="../assets/images/logo_codePin.png" />
            </div>
        </div>
        <div class="col-5">
            <p>
                <button type="button" class="btn btn-primary" id="addPin" data-toggle="modal" data-target="#newPinModal">Add Pin</button>
            </p> |
            <p>Logout</p>
        </div>
    </div>
</div>
<div class="container">
    <!-- Panel Container for Pins -->
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
                <!-- Panel/Card for one pin -->
                <div class="col-2">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
{{!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> --}}

<!-- Modal -->
<div class="modal fade" id="newPinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        {{!-- modal header --}}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Code Pin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {{!-- modal body --}}
      <form>
      <div class="modal-body">          
        <div class="container-fluid">
            {{!-- row 1 --}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{!-- <label for="name">Name</label> --}}
                        <input type="text" class="form-control" id="title" placeholder="Title" required>
                    </div>      
                </div>
            </div>

            {{!-- modal body --}}
            <form>
                <div class="modal-body">
                    <div class="container-fluid">
                        {{!-- row 1 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!--
                                    <label for="name">Name</label> --}}
                                    <input type="text" class="form-control" id="name" placeholder="Name" required>
                                </div>
                            </div>
                        </div>
                        {{!-- row 2 --}}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    {{!--
                                    <label for="description">Description</label> --}}
                                    <textarea class="form-control" id="description" rows="3" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="language">Language</label>
                                            <select class="form-control" id="language">
                                                <option value="" selected disabled>Language</option>
                                                <option value="html">HTML</option>
                                                <option value="css">CSS</option>
                                                <option value="javascript">JavaScript</option>
                                                <option value="python">Python</option>
                                                <option value="php">PHP</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {{!--
                                <div class="row">
                                    <div class="col-sm-12">
                                        Image
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            {{!-- row 3 --}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{!-- <label for="snippet">Code Snippet</label> --}}
                        <textarea class="form-control" id="content" rows="4" placeholder="Code Snippet"></textarea>
                    </div>  
                </div>
            </form>
            {{!-- modal footer --}}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Add</button>
            </div>
        </div>
    </div>
</div>